

:root {
    --radial-gradient-background: 250, 250, 250;
    --solid-color-background: 15, 15, 15;
    --overlay-color: 255, 255, 255;
}

body {
    @apply bg-black;
}



  .grid-background {
    position: relative;
    width: 100%;
    height: 100%;
    background: 
      linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 18px 18px; /* Adjust grid cell size */
  }
  
  .grid-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
      radial-gradient(circle, transparent, rgba(0, 0, 0, 1) 80%);
    pointer-events: none;
  }
  